@import "var";

#foot {
  display: block;
  position: absolute;
  bottom: 0px;

  padding: 20px 0;
  font-family: $fontText;
  font-size: $text;

  color: $accentcolor2;

  a {
    color: $accentcolor;
    text-decoration: none;
    &:hover {
      color: $accentcolor2;
      text-decoration: underline;
    }
  }
}
