$appWidth: 400px;
$appHeight: 300px;

$title: 3.5em;
$focus: 1.5em;
$text: 1.2em;
$label: 1em;
$input: 1.1em;
$info: 0.8em;

$fontText: montserrat, sans-serif;
$fontTitle: coiny, sans-serif;

$accentcolor: #8e2de2;
$accentcolor2: #4a00e0;
$accentcolor_border: darken($accentcolor, 8%);
$black: #242038;
$textcolor: #fff;
$errorcolor: #f6511d;
